<header id="header" class="bg-light-blue-500 shadow-lg relative z-50">
  <nav class="container mx-auto flex items-center justify-between py-4 px-6">
    <!-- App Name -->
    <a class="text-3xl text-white font-bold uppercase mr-8" routerLink="/">Medical You</a>

    <!-- Hamburger Menu (Mobile) -->
    <button
      class="block md:hidden text-white ml-auto focus:outline-none"
      (click)="toggleMenu()"
      aria-label="Toggle Menu"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"
        />
      </svg>
    </button>

    <!-- Primary Navigation for Desktop -->
    <div class="hidden md:flex items-center space-x-6 ml-auto">
      <ul class="flex items-center space-x-6">
        <li *ngIf="!(auth.isAuthenticated$ | async); else authLinks">
          <a
            class="text-white font-medium hover:text-light-blue-300 transition-colors"
            href="#"
            (click)="openModal($event)"
          >
            Login / Register
          </a>
        </li>
        <ng-template #authLinks>
          <li *ngIf="isPacient">
            <a
              routerLink="/virtual-assistant"
              class="text-white font-medium hover:text-light-blue-300 transition-colors"
            >
              Virtual Medical Assistant
            </a>
          </li>
          <li *ngIf="isPacient">
            <a
              routerLink="/book-appointment"
              class="text-white font-medium hover:text-light-blue-300 transition-colors"
            >
              Book Appointment
            </a>
          </li>
          <li *ngIf="isPacient">
            <a
              routerLink="/video-call"
              class="text-white font-medium hover:text-light-blue-300 transition-colors"
            >
              Video Call
            </a>
          </li>
          <li *ngIf="auth.isDoctor()">
            <a
              routerLink="/doctor-patients"
              class="text-white font-medium hover:text-light-blue-300"
            >
              My Patients
            </a>
          </li>
          <li *ngIf="isPacient">
            <a
              routerLink="/patient-history"
              class="text-white font-medium hover:text-light-blue-300"
            >
              My History
            </a>
          </li>
          <li>
            <a
              class="text-white font-medium hover:text-light-blue-300 transition-colors"
              routerLink="/about"
              routerLinkActive="text-light-blue-200"
            >
              About
            </a>
          </li>
          <li>
            <a
              class="text-white font-medium hover:text-light-blue-300 transition-colors"
              href="#"
              (click)="logout()"
            >
              Logout
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>

  <!-- Mobile Navigation -->
  <div
    class="absolute top-full left-0 w-full bg-light-blue-500 text-white flex flex-col items-start space-y-4 px-6 py-4 transition-all duration-300 ease-in-out z-40"
    [ngClass]="{ 'hidden': !isMenuOpen, 'block': isMenuOpen }"
  >
    <ul class="space-y-4 w-full">
      <li *ngIf="!(auth.isAuthenticated$ | async); else authLinksMobile">
        <a
          class="block text-white font-medium hover:text-light-blue-300 transition-colors"
          href="#"
          (click)="openModal($event)"
        >
          Login / Register
        </a>
      </li>
      <ng-template #authLinksMobile>
        <li *ngIf="isPacient">
          <a
            routerLink="/virtual-assistant"
            class="block text-white font-medium hover:text-light-blue-300 transition-colors"
          >
            Virtual Medical Assistant
          </a>
        </li>
        <li *ngIf="isPacient">
          <a
            routerLink="/book-appointment"
            class="block text-white font-medium hover:text-light-blue-300 transition-colors"
          >
            Book Appointment
          </a>
        </li>
        <li *ngIf="isPacient">
          <a
            routerLink="/video-call"
            class="block text-white font-medium hover:text-light-blue-300 transition-colors"
          >
            Video Call
          </a>
        </li>
        <li *ngIf="auth.isDoctor()">
          <a
            routerLink="/doctor-patients"
            class="block text-white font-medium hover:text-light-blue-300"
          >
            My Patients
          </a>
        </li>
        <li *ngIf="isPacient">
          <a
            routerLink="/patient-history"
            class="block text-white font-medium hover:text-light-blue-300"
          >
            My History
          </a>
        </li>
        <li>
          <a
            routerLink="/about"
            routerLinkActive="text-light-blue-200"
            class="block text-white font-medium hover:text-light-blue-300"
          >
            About
          </a>
        </li>
        <li>
          <a
            href="#"
            class="block text-white font-medium hover:text-light-blue-300"
            (click)="logout()"
          >
            Logout
          </a>
        </li>
      </ng-template>
    </ul>
  </div>
</header>
