<app-nav></app-nav>
<div class="content-wrapper">
    <!-- Table Section -->
    <div>
      <h1 class="text-2xl font-bold text-light-blue-700 mb-4">Patient History</h1>
      <table class="styled-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Doctor</th>
            <th>Symptoms</th>
            <th>Results</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of patientHistory">
            <td>{{ record.date | date }}</td>
            <td>{{ record.doctorName }}</td>
            <td>{{ record.symptoms.join(', ') }}</td>
            <td>{{ record.results }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Chart Section -->
    <div class="chart-container">
      <h2 class="chart-title">Symptoms Analysis</h2>
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="symptomsChartData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Symptoms"
        yAxisLabel="Occurrences"
      >
      </ngx-charts-bar-vertical>
    </div>
  </div>
  